@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    transition: all 0.5s;
}

:root {
    /* font-size */
    --largest-font: 120px;
    --larger-font: 70px;
    --large-font: 34px;
    --text-large-font: 22px;
    --text-font: 16px;
    /* color */
    --text-color: #000;
    --hover-color: #886e6e;
    --life-color: #aa9eeeb3;
    --bg-color: #CABDBD;
    
}

.container{
    width:100%;
    min-height: 100vh;
    padding-left:8% ; 
    padding-right: 3%; 
    box-sizing: border-box;
    overflow: hidden;
    background: var(--bg-color);
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background:var(--bg-color);
}

.logo
{
    max-width: 100px;
    cursor: pointer;
    margin: 30px ;
    border-radius: 50%;
}

.menu-icon{
    max-width: 30px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
    /* background: #e6f3e3; */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 540;
}
nav ul li a:hover{
    color: var(--hover-color);
}

/* ---row----- */
.row{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    color: var(--life-color);
}
.col1 h2 {
    font-size: 54px;
}
.col1 h2 span{
    color: #f0eff1;
} 
.col1 h3 { 
    font-size: 40px;
}

.col1 p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.col1::after{
    content: '';
    width: 10px;
    height: 95%;
    background: linear-gradient(#aa9eeeb3 , #332c2c);
    position: absolute;
    left: -40px;
    top: 8px ;
}
.col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    align-items: left;
}
.col2 .bg{
    width: 80%;
}