@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    transition: all 0.5s;
}

:root {
    
    /* color */
    --text-color: #000;
    --life-color: #aa9eee;
    --bg-color: #CABDBD;
    
}

.container{
    width:100%;
    min-height: 100vh;
    padding-left:8% ; 
    padding-right:8%; 
    box-sizing: border-box;
    overflow: hidden;
    background: var(--bg-color);   
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background:var(--bg-color);
}

.logo
{
    max-width: 80px;
    cursor: pointer;
    margin: 30px ;
    border-radius: 50%;
}

.menu-icon{
    max-width: 30px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
    /* background: #e6f3e3; */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 540;
}
nav ul li a:hover{
    color: var(--life-color);
}

/* ---row----- */
.row{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col1{
    flex-basis: 60%;
    position: relative;
    margin-left: 60px;
    color: var(--text-color);
}
.col1 h2 {
    font-size: 50px;
}
.col1 h2 span{
    color: var(--life-color);
} 
.col1 h3 { 
    font-size: 35px;
}

.col1 p {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
}

.col1::after{
    content: '';
    width: 10px;
    height: 95%;
    background: linear-gradient(#aa9eeed8 , #332c2c);
    position: absolute;
    left: -40px;
    top: 8px ;
}
.col2{
    position: relative;
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    align-items: left;
}
.col2 .bg{
    width: 80%;
}
/* 
@media only screen and (max-width:860px){
    nav ul {
        width: 100%;
        background: linear-gradient(#5fc47b , #095000); 
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display:block ;
    }
    #menuList{
        overflow: hidden;
        transition:0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0 ;
    }
    .col1{
        flex-basis: 100%;
        margin-left: 10px;
        width: 80%;
    }
    .col1 h2{
        font-size: 35px;
    }
    .col1 h3{
        font-size: 20px;
    }
    .col1 {
        font-size: 10px;
    }
    .col2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col2 .bg{
        width: 77%;

    }
} */

/* ----------ABOUT-------------- */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background: var(--bg-color);
}
 .about h2 {
    margin: 0.4em;
    font-size: 60px;
    color: var(--text-color);
 }
 
 .about .content {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: 60px;
 }
 .about .content p{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 20px;
 }
 .about .content p span {
    font-size: 45px;
    color: var(--life-color);
 }
 .about img{
    width: 25em;
    margin: 1.3em 2em;
 }
 #act {
    border-radius: 30% 70% 65% 35% / 43% 39% 61% 57%;
 }
 #action {
    border-radius: 30% 70% 65% 35% / 43% 39% 61% 57%;
 }
