<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogOut</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/images/logo.png" class="logo">
            <nav>
                <ul id="menuList">
                    <li><a href="/">Home</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/mood">Mood</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </nav>
            <img src="/images/menu.jpg" class="menu-icon" onclick="togglemenu()">
        </div>
        <div class="login-register">
            <form action="/logout" method="post" class="login-form">
                <h1 class="login-title">LogOut</h1>
                <div >
                    <p class="logout">Are you sure to log out ?</p>
                </div>
                
                <button class="logout-btn"><a href="/index">YES</a></button>
                

                <button class="logout-btn"><a href="/journal">NO</a></button>
    
            </form>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>