<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/images/logo.png" class="logo">
            <nav>
                <ul id="menuList">
                    <li><a href="/">Home</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/mood">Mood</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">LogOut</a></li>
                </ul>
            </nav>
            <img src="/images/menu.jpg" class="menu-icon" onclick="togglemenu()">
        </div>
            <section>
              <div class="dashboard">
                <div class="board profile">
                  <div class="user-photo">
                    <img
                      src="/images/upload/<%= user.image %>"
                    />
                    <h2>Hello, <%= user.fullName %> </h2>
                    <form action="/uploadimg" method="post" enctype="multipart/form-data">
                      <input type="file" name="file">
                      <input type="submit">
                    </form>
                      
                  </div>
        
                  <div class="bell">
                    
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.2501 13.3216C15.6895 12.6728 14.6405 11.6969 14.6405 8.5C14.6405 6.07188 13.0596 4.12812 10.928 3.65125V3C10.928 2.44781 10.5125 2 10 2C9.48755 2 9.07201 2.44781 9.07201 3V3.65125C6.94037 4.12812 5.35948 6.07188 5.35948 8.5C5.35948 11.6969 4.31049 12.6728 3.74986 13.3216C3.57576 13.5231 3.49857 13.7641 3.50002 14C3.50321 14.5125 3.87667 15 4.43149 15H15.5685C16.1233 15 16.4971 14.5125 16.5 14C16.5014 13.7641 16.4242 13.5228 16.2501 13.3216ZM5.45959 13.5C6.07535 12.6259 6.74856 11.1772 6.75175 8.51812C6.75175 8.51187 6.75001 8.50625 6.75001 8.5C6.75001 6.56688 8.20496 5 10 5C11.795 5 13.25 6.56688 13.25 8.5C13.25 8.50625 13.2482 8.51187 13.2482 8.51812C13.2514 11.1775 13.9247 12.6263 14.5404 13.5H5.45959ZM10 18C11.0249 18 11.8563 17.1047 11.8563 16H8.14373C8.14373 17.1047 8.97509 18 10 18Z" fill="#eb325d"/>
                      <path d="M14.5 7.5C16.1569 7.5 17.5 6.15685 17.5 4.5C17.5 2.84315 16.1569 1.5 14.5 1.5C12.8431 1.5 11.5 2.84315 11.5 4.5C11.5 6.15685 12.8431 7.5 14.5 7.5Z" fill="#eb325d" stroke="#ffffff"/>
                      </svg>
                      
                  </div>
                </div>
        
                <div class="board schedule-table">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3 20.999L7.62427 16.3747M16.8306 10.2371L13.7618 7.16837M7.62843 16.3704C7.36612 16.1088 5.89455 14.637 4.8525 13.5948C4.26673 13.0089 4.26758 12.0597 4.85357 11.474L5.51693 10.811C5.68906 10.639 5.91801 10.5356 6.16088 10.5203L10.3212 10.2578C10.5642 10.2425 10.7932 10.139 10.9654 9.9669L13.767 7.16528L13.6368 4.72193C13.6199 4.42247 13.732 4.13041 13.9447 3.91771L14.5521 3.31031C14.9648 2.89656 15.6347 2.89656 16.0484 3.31031L20.6896 7.95152C21.1034 8.36421 21.1034 9.03404 20.6896 9.44779L20.0822 10.0552C19.8706 10.2668 19.5775 10.379 19.278 10.3631L16.8346 10.233L14.033 13.0346C13.8609 13.2067 13.7575 13.4358 13.7421 13.6787L13.4797 17.8378C13.4643 18.0808 13.3609 18.3098 13.1887 18.482L12.525 19.1457C11.9392 19.7315 10.9901 19.7321 10.4044 19.1464C9.36231 18.1043 7.89075 16.6328 7.62843 16.3704Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
        
                    <h2>Record Mood behaviour</h2>
                  </div>
        
                  <table>
            
                    <tr>
                      <td>Choose a date on calendar below</td>

                      <td>Record you mood/feelings for the date selected(in calendar)</td>
                      <!-- <td>6:00 AM</td> -->
                      
                    </tr>
                    <tr>
                    <tr>
                      <td>
                        <div class="calendarr">
                          <div class="in-calendar">
                              <label for="date">Select Date:</label>
                          <input type="date" id="date">
                          </div>
                      </div>
                      </td>
                      <td>
                        <button><a href="/mood">Record Mood</a></button>
                      </td>
                      <!-- <td>7:00 AM</td> -->
                    </tr>
                    <!-- <tr>
                      <td>Wednesday</td>
                      <td>Cycling</td>
                      <td>6:30 AM</td>
                    </tr>
                    <tr>
                      <td>Thursday</td>
                      <td>Yoga</td>
                      <td>6:00 AM</td>
                    </tr>
                    <tr>
                      <td>Friday</td>
                      <td>Weight Training</td>
                      <td>8:00 AM</td>
                    </tr> -->
                  </table>
                </div>
        
                <!-- <div class="board exercise-table">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 5.5C17 4.67157 17.6716 4 18.5 4H19.5C20.3284 4 21 4.67157 21 5.5V18.5C21 19.3284 20.3284 20 19.5 20H18.5C17.6716 20 17 19.3284 17 18.5V5.5Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 10.5C10 9.67157 10.6716 9 11.5 9H12.5C13.3284 9 14 9.67157 14 10.5V18.5C14 19.3284 13.3284 20 12.5 20H11.5C10.6716 20 10 19.3284 10 18.5V10.5Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M3 16.5C3 15.6716 3.67157 15 4.5 15H5.5C6.32843 15 7 15.6716 7 16.5V18.5C7 19.3284 6.32843 20 5.5 20H4.5C3.67157 20 3 19.3284 3 18.5V16.5Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
        
                    <h2>Last 5 Exercises</h2>
                  </div>
        
                  <table>
                    
                    <tr>
                      <td>Running</td>
                      <td>30 min</td>
                    </tr>
                    <tr>
                      <td>Swimming</td>
                      <td>45 min</td>
                    </tr>
                    <tr>
                      <td>Cycling</td>
                      <td>60 min</td>
                    </tr>
                    <tr>
                      <td>Yoga</td>
                      <td>40 min</td>
                    </tr>
                    <tr>
                      <td>Weight Training</td>
                      <td>50 min</td>
                    </tr>
                  </table>
                </div>
                <div class="board personal-bests">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.8107 20.8775L12.2027 20.4384L12.2027 20.4384L12.8107 20.8775ZM11.1893 20.8775L10.5813 21.3166L11.1893 20.8775ZM3.41194 8.72364L2.74261 8.38526L3.41194 8.72364ZM3.53457 10.2786L4.14258 9.83952L3.53457 10.2786ZM20.5881 8.72364L19.9187 9.06202L19.9187 9.06202L20.5881 8.72364ZM20.4654 10.2786L21.0734 10.7178L21.0734 10.7178L20.4654 10.2786ZM18.7549 5.09765L19.4242 4.75927L19.4242 4.75927L18.7549 5.09765ZM5.24508 5.09765L5.9144 5.43603L5.9144 5.43603L5.24508 5.09765ZM7 9.5L6.29515 9.24369C6.22953 9.42417 6.23563 9.62294 6.3122 9.79904L7 9.5ZM12 21L11.3122 21.299C11.4313 21.5729 11.7014 21.75 12 21.75C12.2986 21.75 12.5687 21.5729 12.6878 21.299L12 21ZM17 9.5L17.6878 9.79904C17.7644 9.62294 17.7705 9.42417 17.7048 9.24369L17 9.5ZM4 8.75C3.58579 8.75 3.25 9.08579 3.25 9.5C3.25 9.91421 3.58579 10.25 4 10.25V8.75ZM20 10.25C20.4142 10.25 20.75 9.91421 20.75 9.5C20.75 9.08579 20.4142 8.75 20 8.75V10.25ZM7.02995 4.75H16.97V3.25H7.02995V4.75ZM18.0856 5.43603L19.9187 9.06202L21.2574 8.38526L19.4242 4.75927L18.0856 5.43603ZM4.08126 9.06202L5.9144 5.43603L4.57575 4.75927L2.74261 8.38526L4.08126 9.06202ZM19.8574 9.83952L12.2027 20.4384L13.4187 21.3166L21.0734 10.7178L19.8574 9.83952ZM11.7973 20.4384L4.14258 9.83952L2.92656 10.7178L10.5813 21.3166L11.7973 20.4384ZM12.2027 20.4384C12.1029 20.5766 11.8971 20.5766 11.7973 20.4384L10.5813 21.3166C11.2798 22.2838 12.7202 22.2838 13.4187 21.3166L12.2027 20.4384ZM2.74261 8.38526C2.36306 9.13601 2.43402 10.0358 2.92656 10.7178L4.14258 9.83952C3.9784 9.6122 3.95475 9.31227 4.08126 9.06202L2.74261 8.38526ZM19.9187 9.06202C20.0453 9.31227 20.0216 9.6122 19.8574 9.83952L21.0734 10.7178C21.566 10.0358 21.6369 9.13601 21.2574 8.38526L19.9187 9.06202ZM16.97 4.75C17.4415 4.75 17.8729 5.01528 18.0856 5.43603L19.4242 4.75927C18.9563 3.8336 18.0073 3.25 16.97 3.25V4.75ZM7.02995 3.25C5.99272 3.25 5.04372 3.83361 4.57575 4.75927L5.9144 5.43603C6.12712 5.01528 6.55848 4.75 7.02995 4.75V3.25ZM8.29515 3.74369L6.29515 9.24369L7.70484 9.75631L9.70484 4.25631L8.29515 3.74369ZM6.3122 9.79904L11.3122 21.299L12.6878 20.701L7.6878 9.20096L6.3122 9.79904ZM14.2952 4.25631L16.2952 9.75631L17.7048 9.24369L15.7048 3.74369L14.2952 4.25631ZM16.3122 9.20096L11.3122 20.701L12.6878 21.299L17.6878 9.79904L16.3122 9.20096ZM4 10.25H20V8.75H4V10.25Z"
                        fill="#eb325d"
                      />
                    </svg>
        
                    <h2>Your Bests</h2>
                  </div>
        
                  <ul>
                    <li>Fastest 5K Run: 22 min</li>
                    <li>Heaviest Deadlift: 250 lbs</li>
                    <li>Longest Plank: 3 min</li>
                  </ul>
                </div>
        
                <div class="board calories">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M9.77905 6.60269L10.3582 10.0868C10.574 11.3851 11.5887 12.4025 12.8836 12.6189L16.3588 13.1995C16.6147 13.2416 16.8151 13.4427 16.8572 13.6991C16.9113 14.0293 16.6881 14.3409 16.3588 14.3951L12.8836 14.9759C11.5887 15.1923 10.574 16.2097 10.3582 17.508L9.77905 20.992C9.73714 21.2487 9.53643 21.45 9.28035 21.492C8.95103 21.546 8.64033 21.3222 8.58639 20.992L8.00726 17.508C7.7914 16.2096 6.77657 15.1922 5.48153 14.9759L2.00643 14.3951C1.75061 14.353 1.55009 14.152 1.50808 13.8955C1.454 13.5653 1.67711 13.2537 2.00643 13.1995L5.48153 12.6189C6.77661 12.4026 7.79144 11.3851 8.00726 10.0868L8.58639 6.60269C8.62834 6.34596 8.82906 6.14473 9.08509 6.10271C9.41446 6.04868 9.72516 6.27252 9.77905 6.60269Z"
                        stroke="#eb325d"
                        stroke-width="1.4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M19.2457 4.49612L18.9561 2.75403C18.9291 2.58893 18.7738 2.477 18.6091 2.50403C18.4811 2.52504 18.3807 2.62566 18.3597 2.75403L18.0701 4.49612C17.9622 5.14532 17.4548 5.65408 16.8072 5.76227L15.0696 6.05254C14.905 6.07966 14.7934 6.23548 14.8204 6.40055C14.8414 6.5288 14.9417 6.62932 15.0696 6.65039L16.8072 6.94078C17.4548 7.04896 17.9622 7.55768 18.0701 8.20687L18.3597 9.94894C18.3867 10.114 18.5421 10.226 18.7067 10.199C18.8347 10.1779 18.9351 10.0773 18.9561 9.94894L19.2457 8.20687C19.3536 7.55772 19.8609 7.049 20.5084 6.94078L22.2461 6.65039C22.4108 6.62327 22.5223 6.46745 22.4953 6.30238C22.4742 6.17413 22.374 6.07361 22.2461 6.05254L20.5084 5.76227C19.8609 5.65401 19.3536 5.14528 19.2457 4.49612Z"
                        stroke="#eb325d"
                        stroke-width="1.4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
        
                    <h2>Calories</h2>
                  </div>
        <div class="calories-group">
          <div class="calories-item"><strong>Today:</strong> 500</div>
                  <div class="calories-item"><strong>This Week:</strong> 3500</div>
                  <div class="calories-item"><strong>This Month:</strong> 14000</div>
        </div>
                  
                </div>
        
                <div class="board challenges">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M20.053 12.474C20.053 17.183 16.236 21 11.527 21C6.818 21 3 17.183 3 12.474C3 7.765 6.817 3.948 11.526 3.948M16.263 12.474C16.263 15.09 14.142 17.211 11.526 17.211C8.91 17.211 6.789 15.09 6.789 12.474C6.789 9.858 8.91 7.737 11.526 7.737M15.32 8.67999L11.53 12.47M18.158 3L15.316 5.842V8.684H18.158L21 5.842L19.105 4.895L18.158 3Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
        
                    <h2>Challenges</h2>
                  </div>
        
                  <ul>
                    <li>30-Day Running Streak</li>
                    <li>1000 Pushups in a Month</li>
                    <li>Swim 20km in a Month</li>
                  </ul>
                </div>
                <div class="board activity-feed">
                  <div class="heading">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.1514 11.8886H18.7318C20.5369 11.8886 22.0002 13.352 22.0002 15.1571C22.0002 16.0596 21.2685 16.7913 20.366 16.7913H19.112M12.7545 7.89511C12.7545 9.78106 11.2225 11.3099 9.33276 11.3099C7.443 11.3099 5.91104 9.78106 5.91104 7.89511C5.91104 6.00915 7.443 4.48029 9.33276 4.48029C11.2225 4.48029 12.7545 6.00915 12.7545 7.89511ZM9.33226 13.7491C8.29661 13.7491 7.06113 13.7491 5.90222 13.7491C3.74684 13.7491 2 15.4964 2 17.6517C2 18.7294 2.87364 19.6031 3.95133 19.6031H14.7132C15.7909 19.6031 16.6645 18.7294 16.6645 17.6517C16.6645 15.4964 14.9177 13.7491 12.7623 13.7491C11.6034 13.7491 10.3679 13.7491 9.33226 13.7491ZM19.3933 7.27654C19.3933 8.53384 18.372 9.55309 17.1122 9.55309C15.8524 9.55309 14.8311 8.53384 14.8311 7.27654C14.8311 6.01924 15.8524 4.99999 17.1122 4.99999C18.372 4.99999 19.3933 6.01924 19.3933 7.27654Z"
                        stroke="#eb325d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                    </svg>
        
                    <h2>Friends Activity</h2>
                  </div>
        
                  <ul>
                    <li>
                      
                    <a href="#">Jane</a>   just set a new record in cycling: 30 miles!
                    </li>
                    <li>
                     
                      <a href="#">Mike</a> completed the 30-Day Running Streak Challenge!
                    </li>
                    <li>
                     
                      <a href="#">Anna</a> shared a new workout: 'Hill Sprints Interval'.
                    </li>
                  </ul>
                </div>
              </div> -->
            </section>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>